name: npm version PRs
on:
  push:
    branches: ["develop"]
  pull_request:
    branches: ["develop"]
jobs:
  get-prs:
    runs-on: ubuntu-latest
    permissions:
      pull-requests: write
    outputs:
      matrix-json: ${{steps.get-refs.outputs.result}}
    steps:
      - uses: actions/github-script@v6
        id: get-refs
        with:
          script: |
            const pullRequests = (await github.rest.pulls.list({
                ...context.repo
            })).data

            const refs = pullRequests.map(pr => pr.head.ref)
            console.log(refs)
            return refs

  run-version:
    needs: [get-prs]
    strategy:
      fail-fast: false
      matrix:
        refs: ${{ fromJson(needs.get-prs.outputs.matrix-json)}}
    name: "${{matrix.job_name}}"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          ref: ${{matrix.refs}}
